/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 80vh;
    background-color: white;
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: #f6f5ff;
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: #e2e1eb;
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: yellow;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 8vh;
    width: calc(101% - 86px);
    position: fixed;
    width: 100%;
}

body.dark .home .text {
    color: var(--text-color);
}

.home {
    display: flex;
    padding: 10px;
    height: 8vh;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: white;
    /* overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; */
}

.home li {
    list-style: none;
    padding: 10px;
}

.home li a {
    text-decoration: none;
    color: white;
    color: rgba(0, 0, 0, .4);
}

.ml-100 {
    margin-left: 30px;
}

.ml-262 {
    margin-left: 162px;
}



.product-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 40vh;
}

.product-card {
    /* background-color: #fff; */
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* max-wsidth: 400px; */
    width: 100%;

}

.product-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 4px;
    /* display: grid; */
    /* grid-template-rows: 1fr, 1fr, 1fr; */
    /* margin-left: 90px; */
}


.product-title {
    display: flex;
    justify-content: center;
    /* padding-left: 150px; */
    margin-top: 10px;
    font-size: 1.5em;

}

.product-title a {
    text-decoration: none;
    color: black;
}

.product-price {
    display: flex;
    justify-content: center;
    /* padding-left: 150px; */
    margin-top: 10px;
    font-size: 1.2em;
    color: #00a0a0;
}

.product-price a {
    text-decoration: none;
    color: black;
}


.grid-columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr));
    grid-gap: 1.5rem;
    margin-top: 4rem;
    margin-left: 80px;
    padding: 50px 30px;
    width: 95%;
}


div.btn {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    bottom: 0;
}


.button {
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    color: rgba(0, 0, 0, .4);

}

.one {
    display: flex;
    justify-content: center;
    /* padding-top: 20px; */
    border-radius: 50px;
    padding-bottom: 22px;
    color: rgba(0, 0, 0, .4);
}

.btnone {
    display: flex;
    justify-content: center;
    /* padding-top: 20px; */
    background-color: #663399;
    border-radius: 8px;
    color: white;
    /* font-size: 1em;  */
    padding: 10px;
}



@media screen and (max-width: 780px) {
    .grid-columns {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(193px, 50%), 2fr));
        grid-gap: 1.5rem;
        padding-left: -9px;
        width: 86%;
    }

    .footer {
        margin: 0 auto !important;
        display: grid;
        /* grid-template-columns: repeat(auto-fill, minmax(min(193px, 50%), 1fr)); */
        grid-gap: 1.5rem;
        padding-left: -9px;
        width: 100%;
        padding-left: 140px;
    }

    div.btn {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        bottom: 0;
        padding-left: 135px;
    }
}


@media screen and (max-width: 480px) {
    body {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(193px, 50%), 1fr));
        grid-gap: 1.5rem;
        padding-left: -9px;
        width: 86%;
        /* padding-left: 140px; */
    }
}

@media screen and (max-width: 480px) {
    .footer {
        margin: 0 auto !important;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(193px, 50%), 1fr));
        grid-gap: 1.5rem;
        padding-left: -9px;
        width: 100%;
        padding-left: 140px;
    }

    div.btn {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        bottom: 0;
        padding-left: 135px;
    }
}